.Email a:hover{
    color: rgb(18, 15, 15);
}

#about img:hover {
  transition: 0.6s;
  transform: scale(1.01);
}

.sidebar.active {
    right: 0; 
}

.sidebar ul a:hover{
    border: 5px solid rgb(14, 14, 14);
    color: white;
    background-color: rgb(12, 15, 14);
    border-radius: 5px;
}
 /* hamburger .social-icons  */
.sidebar .social-icons i:hover{
  color: rgb(84, 58, 58);
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.06);
}


 /* main page .social-links  */
.social-links i.fa-twitter:hover{
  transition: 0.6s;
  transform: scale(1.07);
}
.social-links i.fa-instagram:hover{
  transition: 0.6s;
  transform: scale(1.07);
}
.social-links i.fa-linkedin:hover{
  transition: 0.6s;
  transform: scale(1.07);
}
.social-links i.fa-github:hover{
  transition: 0.6s;
  transform: scale(1.07);
}  


.social-links a:hover img {
  filter: brightness(1.3) drop-shadow(0 0 5px #FFA116);
  transform: scale(1.1);
  transition: all 0.3s ease;
}


button:hover {
    background-color: #38bdf8;
    color: #0f172a;
    transform: scale(1.05);
}

/* @keyframes  */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#about img {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes textGlow {
  0% { color: black; }
  25%{color:rgb(39, 44, 41);}
  50% { color: #e7f2f5; }
  75%{color: rgb(191, 200, 197);}
  100% { color: #f1eef1; }
}

header h1 {
  animation: textGlow 10s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

button:hover {
  animation: pulse 0.6s ease-in-out;
}

@keyframes rotateIcon {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.social-links i:hover {
  animation: rotateIcon 1.1s linear;
}

.social-links a:hover img{
    animation: rotateIcon 1.1s linear;
}

/*Medium Phones (iPhone, Android ≥ 481px and ≤ 767px)*/
@media screen and (max-width: 767px) and (min-width: 481px) {
  header h1 {
    font-size: 26px;
  }

  #about img {
    width: 140px;
    height: 140px;
  }

  .social-links a {
    font-size: 32px;
  }

  form {
    padding: 10px;
  }
}

/* Tablets (iPad, Android tablets ≥ 768px and ≤ 1024px) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header h1 {
    font-size: 30px;
  }

  #about {
    flex-direction: row;
    text-align: left;
  }

  #about img {
    margin-right: 20px;
  }

  .social-links a {
    font-size: 36px;
  }

  form {
    width: 90%;
    margin: auto;
  }
}

/* Laptops & Desktops (≥ 1025px) */
@media screen and (min-width: 1025px) {
  header h1 {
    font-size: 36px;
  }

  #about {
    justify-content: center;
    gap: 10px;
  }

  .social-links a {
    font-size: 40px;
  }

  form {
    width: 60%;
    margin: auto;
  }
}